
body {
  background: #314F49;
justify-content: center;
margin: 0;
}

.ya {
    font-size: 16px; /* Tamaño de la fuente */
    width: 200px; /* Ancho de la lista desplegable */
    height: 30px; /* Altura de la lista desplegable */
    border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  background: #1d1d1d;
  color: #959595	;
}

.ya:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5),
              0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}
h2 {
  margin: 0;
  padding: 0;
  font-size: 10px;
  line-height: 10px;
  letter-spacing: 2.5px;
  font-family: 'Open Sans';
  font-weight: 700;
  color: #fff;
}

h3 {
  margin: 0;
  padding: 0;
  font-size: 11px;
  line-height: 11px;
  font-family: 'Open Sans';
  font-weight: 400;
  color: #777;
}

h4 {
  margin: 0 0 5px 29px;
  padding: 0;
  font-size: 14px;
  line-height: 14px;
  font-family: 'Open Sans';
  font-weight: 700;
  text-align: center;
  color: #fff;
}

h5 {
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 13px;
  font-family: 'Open Sans';
  font-weight: 700;
  color: #6d6d6d;
}

h6 {
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 13px;
  font-family: 'Open Sans';
  font-weight: 700;
  color: #f0f0f0;
}

.screen {
  background-color: #ff564c;
  padding: 0;
  height: 650px;
  width: 366px;
  position: absolute;
  left: 50%;
	top: 0;
	transform: translate(-50%, 0);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  margin: 30px 0;
}

.header {
  display: inline-flex;
  margin: 0 0 40px 0;
}

input[type=checkbox] {
  visibility: hidden;
  margin: 0;
  padding: 0;
  z-index: 10;
}

label.main:before {
  position: absolute;
  top: 23px;
  left: 23px;
  font-family: FontAwesome;
  content: '\f0c9';
  font-size: 40px;
  line-height: 40px;
  cursor: pointer;
  z-index: 10;
  display: inline-block;
  width: 40px; /* Ancho de la imagen del checkbox */
  height: 40px; /* Altura de la imagen del checkbox */
  background-image: url('../imagenes/check.png'); /* Ruta de la imagen del checkbox */
  background-size: cover; /* Ajusta la imagen al tamaño del contenedor */
}

label.main:hover:before {
  color: #bbb;
  display: inline-block;
  width: 40px; /* Ancho de la imagen del checkbox */
  height: 40px; /* Altura de la imagen del checkbox */
  background-image: url('../imagenes/check.png'); /* Ruta de la imagen del checkbox */
  background-size: cover; /* Ajusta la imagen al tamaño del contenedor */
}

.screen > #magicButton:checked ~ label.main:before {
  color: #ff564c;
  transition: all 0.3s ease-in;
}

.coverImage {
  width: 366px;
  height: 366px;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0% 0%;
  transition: all 0.3s ease-in;
  background-size: cover;
  background-position: center;
  animation: cambiarImagen 15s infinite;
}

@keyframes cambiarImagen {
  0% { background-image: url('../imagenes/icono2.png'); }
  33.33% { background-image: url('../imagenes/icono3.png'); }
  66.66% { background-image: url('../imagenes/icono4.png'); }
  100% { background-image: url('../imagenes/icono.png'); }
}

#imagen {
  width: 300px;
  height: 200px;
  background-size: cover;
  background-position: center;
}

.screen > #magicButton:checked ~ .coverImage {
  transform: scale(0.251, 0.251);
  left: 23px;
  top: 60px;
  transition: all 0.3s ease-in;
  border-radius: 20px;
}

.search:before {
  position: absolute;
  top: 23px;
  right: 23px;
  font-family: FontAwesome;
  content: '\f002';
  color: #959595;
  font-size: 16px;
  line-height: 16px;
  cursor: pointer;
  z-index: 10;
  transition: all 0.3s ease-in;
}

.search:hover:before {
  color: #bbb;
}

.bodyPlayer {
  position: absolute;
  top: 366px;
  left: 0;
  margin: 0;
  padding: 0;
  height: 286px;
  width: 366px;
  background: #111;
  transition: all 0.3s ease-in;
}

.screen > #magicButton:checked ~ .bodyPlayer {
  height: 470px;
  left: 0;
  top: 180px;
  transition: all 0.3s ease-in;
}

.list {
  border-spacing: 0px 2px;
  width: 342px;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 378px;
  left: 12px;
  transform-origin: 0% 0%;
  transform: scale(0.1, 0.1);
  transition: all 0.3s ease-in;
}

.list tr {
  transform-origin: 0% 50%;
  height: 50px;
  text-align: center;
  background: #1d1d1d;
  text-indent: 8px;
}

.list tr:hover {
  background: #222;
  cursor: pointer;
}

.title {
  width: 215px;
  text-align: left;
  text-indent: 15px;
  transition: all 0.11s ease-in;
}

.list tr:hover .title {
  padding-left: 5px;
  width: 210px;
  transition: all 0.11s ease-in;
}

.screen > #magicButton:checked ~ .list {
  top: 192px;
  left: 12px;
  opacity: 1;
  visibility: visible;
  transform: scale(1, 1);
  transition: all 0.3s ease-in;
}

.screen > #magicButton:checked ~ table tr:nth-child(1) {
  opacity: 1;
  animation: harlem 0.3s linear forwards;
  animation-delay: 0.185s;
}

.screen > #magicButton:checked ~ table tr:nth-child(2) {
  animation: harlem 0.3s linear forwards;
  animation-delay: 0.2s;
}

.screen > #magicButton:checked ~ table tr:nth-child(3) {
  animation: harlem 0.3s linear forwards;
  animation-delay: 0.215s;
}

.screen > #magicButton:checked ~ table tr:nth-child(4) {
  animation: harlem 0.3s linear forwards;
  animation-delay: 0.23s;
}

.screen > #magicButton:checked ~ table tr:nth-child(5) {
  animation: harlem 0.3s linear forwards;
  animation-delay: 0.245s;
}

.screen > #magicButton:checked ~ table tr:nth-child(6) {
  animation: harlem 0.3s linear forwards;
  animation-delay: 0.26s;
}

.screen > #magicButton:checked ~ table tr:nth-child(7) {
  animation: harlem 0.3s linear forwards;
  animation-delay: 0.275s;
}

.screen > #magicButton:checked ~ table tr:nth-child(8) {
  animation: harlem 0.3s linear forwards;
  animation-delay: 0.29s;
}

.screen > #magicButton:checked ~ table tr:nth-child(9) {
  animation: harlem 0.3s linear forwards;
  animation-delay: 0.305s;
}

label.zmr:before {
  font-family: FontAwesome;
  content: "\f08a";
  color: #777;
  font-size: 15px;
  line-height: 15px;
  cursor: pointer;
  z-index: 10;
  transition: all 0.15s linear;
}

td > #heart:checked ~ label.zmr:before {
  content: "\f004";
  color: #ff564c;
  transition: all 0.15s linear;
}

td > #heart1:checked ~ label.zmr:before {
  content: "\f004";
  color: #ff564c;
  transition: all 0.15s linear;
}

td > #heart2:checked ~ label.zmr:before {
  content: "\f004";
  color: #ff564c;
  transition: all 0.15s linear;
}

td > #heart3:checked ~ label.zmr:before {
  content: "\f004";
  color: #ff564c;
  transition: all 0.15s linear;
}

td > #heart4:checked ~ label.zmr:before {
  content: "\f004";
  color: #ff564c;
  transition: all 0.15s linear;
}

td > #heart5:checked ~ label.zmr:before {
  content: "\f004";
  color: #ff564c;
  transition: all 0.15s linear;
}

td > #heart6:checked ~ label.zmr:before {
  content: "\f004";
  color: #ff564c;
  transition: all 0.15s linear;
}

td > #heart7:checked ~ label.zmr:before {
  content: "\f004";
  color: #ff564c;
  transition: all 0.15s linear;
}

td > #heart8:checked ~ label.zmr:before {
  content: "\f004";
  color: #ff564c;
  transition: all 0.15s linear;
}

.info {
  width: 157px;
  position: absolute;
  left: 104px;
  top: 440px;
  transition: all 0.3s ease-in;
}

.screen > #magicButton:checked ~ .info {
  top: 66px;
  left: 126px;
  text-align: left;
  transition: all 0.3s ease-in;
}

.screen > #magicButton:checked ~ .info h4 {
  margin-left: 0;
  font-size: 16px;
  color: #111111;
  transition: all 0.3s ease-in;
}

.player {
  background: none;
  text-align: center;
  font-family: FontAwesome;
  color: #fff;
  font-size: 26px;
  line-height: 26px;
  width: 216px;
  height: 35px;
  position: absolute;
  bottom: 100px;
  left: 48%;
  transform: translate(-50%, 0);
  z-index: 10;
  transition: all 0.3s ease-in;
  border-spacing: 0;
}

.player td {
  width: 72px;
}

.backward:before {
  content: "\f04a";
  cursor: pointer;
  transition: all 0.15s linear;
}

.play:before {
  content: "\f04b";
  cursor: pointer;
  transition: all 0.15s linear;
}

.forward:before {
  content: "\f04e";
  cursor: pointer;
  transition: all 0.15s linear;
}

.backward:hover:before {
  color: #bbb;
  transition: all 0.15s linear;
}

.play:hover:before {
  color: #bbb;
  transition: all 0.15s linear;
}

.forward:hover:before {
  color: #bbb;
  transition: all 0.15s linear;
}

td > #play:checked ~ label.play:before {
  content: "\f04c";
  transition: all 0.15s linear;
}

.screen > #magicButton:checked ~ .player {
  bottom: 4px;
  left: -44px;
  transform: scale(0.45, 0.45);
  transition: all 0.3s ease-in;
}

.shadow {
  background: rgba(17, 17, 17, 0.8);
  width: 366px;
  height: 50px;
  position: absolute;
  bottom: -12px;
  left: 0;
  box-shadow: 0px -15px 40px rgba(17, 17, 17, 0.8);
}

.footer {
  background: none;
  font-family: FontAwesome;
  color: #6d6d6d;
  font-size: 15px;
  line-height: 15px;
  height: 45px;
  width: 360px;
  position: absolute;
  bottom: 10px;
  left: 23px;
  z-index: 20;
  transition: all 0.15s linear;
  transition: bottom 0.3s linear;
}

.screen > #magicButton:checked ~ .footer {
  bottom: -60px;
  transition: all 0.3s ease-in;
}

.current {
  position: absolute;
  right: 23px;
  bottom: -60px;
  transition: all 0.3s ease-in;
}

.screen > #magicButton:checked ~ .current {
  bottom: 17px;
  transition: all 0.3s ease-in;
}

audio {
  visibility: hidden;
}

.play {
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  background: #1d1d1d;
  color: #959595	;
  width: 100px; /* Ancho de la imagen del checkbox */
  height: 40px; /* Altura de la imagen del checkbox */
}

.play:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5),
              0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}
.glitch-wrapper {
			   width: 400px;
			   height: 100%;
			   display: flex;
			   align-items: center;
			   justify-content: center;
			   text-align: center;
			   background-color: #222;
			}
			
			.glitch {
			   position: relative;
			   font-size: 75px;
			   font-weight: 700;
			   line-height: 1.2;
			   color: #fff;
			   letter-spacing: 5px;
			   z-index: 1;
			}
			
			.glitch:before {
			   content: attr(data-glitch);
			   position: absolute;
			   top: 0;
			   left: -2px;
			   width: 100%;
			   color: #fff;
			   background-color: #222;
			   overflow: hidden;
			   clip: rect(0, 900px, 0, 0);
			   animation: noise-before 3s infinite linear alternate-reverse;
			}
			
			.glitch:after {
			   content: attr(data-glitch);
			   position: absolute;
			   top: 0;
			   left: 2px;
			   width: 100%;
			   color: #fff;
			   background-color: #222;
			   overflow: hidden;
			   clip: rect(0, 900px, 0, 0);
			   animation: noise-after 2s infinite linear alternate-reverse;
			}
			
			@keyframes noise-before {
			   0% {
			      clip: rect(61px, 9999px, 52px, 0);
			   }
			
			   5% {
			      clip: rect(33px, 9999px, 144px, 0);
			   }
			
			   10% {
			      clip: rect(121px, 9999px, 115px, 0);
			   }
			
			   15% {
			      clip: rect(144px, 9999px, 162px, 0);
			   }
			
			   20% {
			      clip: rect(62px, 9999px, 180px, 0);
			   }
			
			   25% {
			      clip: rect(34px, 9999px, 42px, 0);
			   }
			
			   30% {
			      clip: rect(147px, 9999px, 179px, 0);
			   }
			
			   35% {
			      clip: rect(99px, 9999px, 63px, 0);
			   }
			
			   40% {
			      clip: rect(188px, 9999px, 122px, 0);
			   }
			
			   45% {
			      clip: rect(154px, 9999px, 14px, 0);
			   }
			
			   50% {
			      clip: rect(63px, 9999px, 37px, 0);
			   }
			
			   55% {
			      clip: rect(161px, 9999px, 147px, 0);
			   }
			
			   60% {
			      clip: rect(109px, 9999px, 175px, 0);
			   }
			
			   65% {
			      clip: rect(157px, 9999px, 88px, 0);
			   }
			
			   70% {
			      clip: rect(173px, 9999px, 131px, 0);
			   }
			
			   75% {
			      clip: rect(62px, 9999px, 70px, 0);
			   }
			
			   80% {
			      clip: rect(24px, 9999px, 153px, 0);
			   }
			
			   85% {
			      clip: rect(138px, 9999px, 40px, 0);
			   }
			
			   90% {
			      clip: rect(79px, 9999px, 136px, 0);
			   }
			
			   95% {
			      clip: rect(25px, 9999px, 34px, 0);
			   }
			
			   100% {
			      clip: rect(173px, 9999px, 166px, 0);
			   }
			}
			
			@keyframes noise-after {
			   0% {
			      clip: rect(26px, 9999px, 33px, 0);
			   }
			
			   5% {
			      clip: rect(140px, 9999px, 198px, 0);
			   }
			
			   10% {
			      clip: rect(184px, 9999px, 89px, 0);
			   }
			
			   15% {
			      clip: rect(121px, 9999px, 6px, 0);
			   }
			
			   20% {
			      clip: rect(181px, 9999px, 99px, 0);
			   }
			
			   25% {
			      clip: rect(154px, 9999px, 133px, 0);
			   }
			
			   30% {
			      clip: rect(134px, 9999px, 169px, 0);
			   }
			
			   35% {
			      clip: rect(26px, 9999px, 187px, 0);
			   }
			
			   40% {
			      clip: rect(147px, 9999px, 137px, 0);
			   }
			
			   45% {
			      clip: rect(31px, 9999px, 52px, 0);
			   }
			
			   50% {
			      clip: rect(191px, 9999px, 109px, 0);
			   }
			
			   55% {
			      clip: rect(74px, 9999px, 54px, 0);
			   }
			
			   60% {
			      clip: rect(145px, 9999px, 75px, 0);
			   }
			
			   65% {
			      clip: rect(153px, 9999px, 198px, 0);
			   }
			
			   70% {
			      clip: rect(99px, 9999px, 136px, 0);
			   }
			
			   75% {
			      clip: rect(118px, 9999px, 192px, 0);
			   }
			
			   80% {
			      clip: rect(1px, 9999px, 83px, 0);
			   }
			
			   85% {
			      clip: rect(145px, 9999px, 98px, 0);
			   }
			
			   90% {
			      clip: rect(121px, 9999px, 154px, 0);
			   }
			
			   95% {
			      clip: rect(156px, 9999px, 44px, 0);
			   }
			
			   100% {
			      clip: rect(67px, 9999px, 122px, 0);
			   }
			   }
